---
import cssVars from "../styles/css-vars";
---

<footer>
  <div class="logo">
    <img src="./src/assets/shared/desktop/logo-light.png" alt="Designo" />
  </div>
  <div class="footer-links">
    <a href="#our-company">OUR COMPANY</a>
    <a href="#locations">LOCATIONS</a>
    <a href="#contact">CONTACT</a>
  </div>
  <div class="footer-text">
    <p>Designo Central Office</p>
    <p>3886 Wellington Street</p>
    <p>Toronto, Ontario M9C 3/5</p>
  </div>
  <div class="footer-text">
    <p>Contact us (Central Office)</p>
    <p>P : +1 253-864-8967</p>
    <p>M : contact@designo.co</p>
  </div>
  <div class="footer-icons">
    <a href="#facebook"
      ><img src="/src/assets/shared/desktop/icon-facebook.svg" /></a
    >
    <a href="#youtube"
      ><img src="/src/assets/shared/desktop/icon-youtube.svg" /></a
    >
    <a href="#twitter"
      ><img src="/src/assets/shared/desktop/icon-twitter.svg" /></a
    >
    <a href="#pinterest"
      ><img src="/src/assets/shared/desktop/icon-pinterest.svg" /></a
    >
    <a href="instagram"
      ><img src="/src/assets/shared/desktop/icon-instagram.svg" /></a
    >
  </div>
</footer>

<style define:vars={cssVars}>
  footer {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }

  footer .logo img {
    width: 60%;
  }

  footer .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    margin-bottom: 30px;
  }

  footer .footer-links a {
    text-decoration: none;
    color: var(--colorWhite);
  }

  footer .footer-text {
    line-height: 5px;
  }

  footer .footer-text p {
    text-align: center;
  }

  footer .footer-icons {
    margin: 30px auto;
  }
</style>
